<% content_for :title do %> - RPG Templates<% end %>

<h1>Here are listed all the rpg templates available on d20WebTools!</h1>
<p>They are not based only on the d20 system, despite our name ;-)</p>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="offset1 span1 pull-left">
			<h3><strong>Available templates</strong></h3>
		</div>
		<div class="offset1 span8 pull-right" style="margin-top: 13px;">
			<%= link_to new_rpg_template_path, :class => 'btn btn-success' do %>
				<%= icon 'plus' %>
			<% end %>
		</div>
	</div>
</div>
<table class="table-dark table-striped table-condensed">
	<% @rpg_templates.each do |t| %>
	<tr>
		<td style="vertical-align: middle;"><strong style="font-size: medium;"><%= t.name %></strong></td>
		<td style="text-align: right;">
			<%= link_to 'View', rpg_template_path(t), :class => 'btn btn-success' %>
			<%= link_to 'Edit', edit_rpg_template_path(t), :class => 'btn btn-warning' %>
			<%= link_to rpg_template_path(t), method: :delete,
						 data: { confirm: 'Are you sure?' },
						:class => 'btn btn-danger' do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td style="vertical-align: middle;"><strong style="font-size: medium;">TEST ROW!!!</strong></td>
		<td style="text-align: right;">
			<%= link_to '#', :class => 'btn btn-success' do %>
				<span class="glyphicon glyphicon-folder-open"></span>
			<% end %>
			<%= link_to '#', :class => 'btn btn-warning' do %>
				<span class="glyphicon glyphicon-edit"></span>
			<% end %>
			<%= link_to '#', method: :delete,
						 data: { confirm: 'Are you sure?' },
						:class => 'btn btn-danger' do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</td>
	</tr>
</table>
