<% content_for :title do %> - New RPG Template<% end %>
<% content_for :head do %>
	<%= stylesheet_link_tag "tablecloth", "prettify" %>
	<%= javascript_include_tag "jquery.metadata", "jquery.tablesorter", "jquery.tablecloth" %>
<% end %>

<script type="text/javascript">
var items = [];
function addNavigationItem(item) {
	items.push(item);
}
</script>
<script type="text/html" id="fixed-side-nav-template">
	<li data-content="title" class="list-group-item"></li>
</script>
<ul id="fixed-side-nav" class="list-group" data-spy="affix scroll"></ul>

<div class="border-form-div" style="max-width: 600px;">
	<h2>New RPG Template</h2>
	<%= form_for :rpg_template, :url => rpg_templates_path do |f| %>
		<div class="panel panel-default" id="accordion">
			<%= render 'rpg_templates/new_form/general_info', f: f %>
			<%= render 'rpg_templates/new_form/classes_info', f: f %>
			<%= render 'rpg_templates/new_form/levels_info', f: f %>
			<%= render 'rpg_templates/new_form/stats_info', f: f %>
			<%= render 'rpg_templates/new_form/skills_info', f: f %>
			<%= render 'rpg_templates/new_form/feats_info', f: f %>
			<div class="panel-footer">
				<%= f.submit "Create", :class => 'btn btn-success' %>
			</div>
		</div>
	<% end %>
	<script type="text/javascript">
		$('#fixed-side-nav').loadTemplate($('#fixed-side-nav-template'), items);
	</script>
</div>
<%= render 'layouts/back_to_top' %>
