<%= render(layout: 'rpg_templates/new_form/partial_info_template', \
		locals: {
			info_id: "general-info", \
			info_title: "General informations", \
			info_collapse_id: "collapseGeneral", \
			expanded: "in" \
		}) \
	do %>
	<div class="input-control" style="margin: 3px;">
		<%= f.label 'RPG System Name' %>
		<%= f.text_field :name, :placeholder => 'D&D v3.5', :class=> 'form-control' %>
	</div>
	<div class="input-control" style="margin: 3px;">
		<%= f.label 'Default dice for checks' %>
		<%= f.text_field :default_dice, :placeholder => '1d20', :class=> 'form-control' %>
	</div>
	<div class="input-group panel panel-default" style="margin: 5px 0 5px 0;">
		<span class="input-group-addon" style="border: 0px;"><%= f.check_box :has_classes %></span>
		<div class="panel-body">
			<%= f.label 'Has the concept of classes?' %>
		</div>
	</div>
	<div class="input-group panel panel-default" style="margin: 5px 0 5px 0;">
		<span class="input-group-addon" style="border: 0px;"><%= f.check_box :has_levels %></span>
		<div class="panel-body">
			<%= f.label 'Has the concept of levels?' %>
		</div>
	</div>
	<div class="input-group panel panel-default" style="margin: 5px 0 5px 0;">
		<span class="input-group-addon" style="border: 0px;"><%= f.check_box :has_feats %></span>
		<div class="panel-body">
			<%= f.label 'Can a character use feats?' %>
		</div>
	</div>
	<div class="input-group panel panel-default" style="margin: 5px 0 5px 0;">
		<span class="input-group-addon" style="border: 0px;"><%= f.check_box :has_skills %></span>
		<div class="panel-body">
			<%= f.label 'Can a character use skills?' %>
		</div>
	</div>
	<div class="input-group panel panel-default" style="margin: 5px 0 5px 0;">
		<span class="input-group-addon" style="border: 0px;"><%= f.check_box :has_passive_defense %></span>
		<div class="panel-body">
			<%= f.label 'The attack is ported against a passive defense value or a player needs to roll a counter-check?' %>
		</div>
	</div>
<% end %>
