<%
	info_id = "dummy-info" if info_id.to_s.strip.empty?
	info_title = "Dummy informations" if info_title.to_s.strip.empty?
	info_collapse_id = "collapseDummy" if info_collapse_id.to_s.strip.empty?
	expanded = "" if expanded.to_s.strip.empty?
%>

<script type="text/javascript">
addNavigationItem({
	id: "<%= info_id %>",
	title: "<%= info_title %>"
});
</script>
<div class="panel-heading">
	<h4 id="<%= info_id %>">
		<a data-toggle="collapse" data-parent="#accordion" href="#<%= info_collapse_id %>">
			<%= info_title %> <span class="fa fa-angle-down"></span>
		</a>
	</h4>
</div>
<div id="<%= info_collapse_id %>" class="panel-collapse collapse <%= expanded %>">
	<div class="panel-body">
		<%= yield %>
	</div>
</div>
