<% content_for :title do %> - Room &quot;<%= @room.name %>&quot;<% end %>
<% content_for :head do %>
	<%= stylesheet_link_tag "tablecloth", "prettify" %>
	<%= javascript_include_tag "jquery.metadata", "jquery.tablesorter", "jquery.tablecloth" %>
<% end %>
<script type="text/javascript">
	initRoom("<%= room_messages_path(@room) %>", "<%= list_members_room_path(@room) %>", "<%= exit_room_path(@room) %>");
</script>
<div id="jumbo_header" class="jumbotron">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset1 span8 pull-right">
				<ul class="nav">
					<li>
						<%= link_to exit_room_path, :method => :put do %>
							<%= icon 'sign-out' %> Exit room
						<% end %>
					</li>
					<li>
						<%= link_to clear_room_messages_path(@room), :method => :put do %>
							<%= icon 'eraser' %> Clear chat (permanent)
						<% end %>
					</li>
					<li>
						<a href="#" onclick="javascript:togglePolling();" id="polling-switch"></a>
					</li>
				</ul>
			</div>
			<h1><%= @room.name %></h1>
			<p style="font-size: x-small;">by <%= @room.master.username %></p>
		</div>
	</div>
</div>
<div class="row">
	<div id="row1" class="col-lg-4">
<!-- <div id="chatbox" class="row" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div> -->
		<div id="chatbox" class="row"></div>
		<%= form_for [@room, @room.messages.build], :id => 'send-message', :role => 'form', :class => 'form-inline' do |f| %>
			<div class="input-group" style="width: 100%;">
				<%= f.text_field :body, :class=> 'form-control' %>
				<span class="input-group-btn" style="width: 1%;">
					<%= f.submit "Send", :id => 'message_send', :class => 'btn btn-primary', :style => 'height: 34px;' %>
				</span>
			</div>
		<% end %>
	</div>
	<div id="row2" class="col-lg-4">
		&nbsp;
	</div>
	<div id="row3" class="col-lg-4">
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a href="#members-pane" data-toggle="tab">Members (<%= @room.members.count %>)</a></li>
			<li><a href="#notes-pane" data-toggle="tab">Note</a></li>
		</ul>
		<div class="tab-content" style="border: 1px solid #eee; height: 251px;">
			<div class="tab-pane fade in active" id="members-pane"></div>
			<div class="tab-pane fade boxsizingBorder" style="display: block; width: 359px; height: 100%; padding: 0;" id="notes-pane">
				<textarea class="boxsizingBorder" style="width: 360px; height: 100%; margin: 0;" id="notes"></textarea>
				<a href="#" onclick="javascript:appendNote();" class="btn btn-primary"><%= icon 'share' %> Send to messageboard</a>
			</div>
		</div>
	</div>
</div>
