<% content_for :title do %> - Room &quot;<%= @room.name %>&quot;<% end %>
<% content_for :head do %>
	<%= stylesheet_link_tag "tablecloth", "prettify" %>
	<%= javascript_include_tag "jquery.metadata", "jquery.tablesorter", "jquery.tablecloth" %>
<% end %>
<script type="text/javascript">
	initRoom("<%= room_messages_path(@room) %>");
</script>
<%
#Il profilo del personaggio (scheda) dovrà essere una dropdown DOPO il bottone di Sign Out
#Tutte le funzioni andranno divise per categoria dentro dei TAB, nello spazio di "Logged members"
#Mappa interattiva (o immagine statica) come sfondo del box "jumbo_header", espandibile
%>
<div id="jumbo_header" class="jumbotron">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset1 span8 pull-right">
				<ul class="nav">
					<li><%= link_to "Exit room", exit_room_path, :method => :put %></li>
					<li><%= link_to "Clear chat (this action cannot be reverted)", clear_room_messages_path(@room), :method => :put %></li>
				</ul>
			</div>
			<h1><%= @room.name %></h1>
			<p style="font-size: x-small;">by <%= @room.master.username %></p>
		</div>
	</div>
</div>
<div class="row">
	<div id="row1" class="col-lg-4">
<!-- <div id="chatbox" class="row" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div> -->
		<div id="chatbox" class="row"></div>
		<%= form_for [@room, @room.messages.build], :id => 'send-message', :role => 'form', :class => 'form-inline' do |f| %>
			<div class="input-group" style="width: 100%;">
				<%= f.text_field :body, :class=> 'form-control' %>
				<span class="input-group-btn" style="width: 1%;">
					<%= f.submit "Send", :id => 'message_send', :class => 'btn btn-primary', :style => 'height: 34px;' %>
				</span>
			</div>
		<% end %>
	</div>
	<div id="row2" class="col-lg-4">
		&nbsp;
	</div>
	<div id="row3" class="col-lg-4">
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a href="#members-pane" data-toggle="tab">Logged members (<%= @room.members.count %>)</a></li>
			<li><a href="#profile-pane" data-toggle="tab">Profile</a></li>
		</ul>
		<div class="tab-content" style="border: 1px solid #eee; height: 251px;">
			<div class="tab-pane fade in active" id="members-pane">
				<%= render 'rooms/members_list' %>
			</div>
			<div class="tab-pane fade" id="profile-pane">This is the profile pane</div>
		</div>
	</div>
</div>
